@model IEnumerable<CapstoneProject.Models.Theaters>
@using System.Text.Json


<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"] = "Theatres";</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        /* Custom css for star rating */
        .checked {
            color: orange;
        }
    </style>
</head>

<body>

    <section class="text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Theaters</h1>
                <p class="lead text-body-secondary">Find theaters and tickets you want.</p>
            </div>
        </div>
    </section>

    <!-- Search Bar and Filters Section -->
    <div class="container mt-3 text-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for theaters...">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="filter-row d-flex mb-3">
                    <!-- Filters: City and Country -->
                    <div class="filter me-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="cityDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                City
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="cityDropdownButton">
                                <li>
                                    <a class="dropdown-item" href="#">All Cities</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Burnaby</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Vancouver</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">New Westminster</a>
                                </li>
                                <!-- Add more city options here -->
                            </ul>
                        </div>
                    </div>
                    <div class="filter me-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="countryDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Country
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="countryDropdownButton">
                                <li>
                                    <a class="dropdown-item" href="#">All Countries</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Canada</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">USA</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Mexico</a>
                                </li>
                                <!-- Add more country options here -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Threatres Section using bootstrap -->
    <div class="container mt-3">
        <ul class="list-group">
            @* <li class="list-group-item">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Cineplex_Entertainment_logo_%282009-2015%29.svg" class="img-rounded" alt="CineplexLogo">
                        </div>
                        <div class="col-sm-8">
                            <h4>Cineplex Vancouver</h4>
                            <div class="address">
                                <p>
                                    <span>5345 Homer Street</span><br>
                                    <span>Vancouver, BC</span>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span>
                                        Rating
                                    </span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span>Theater@contact.ca</span>
                                </div>
                                <div class="col-sm-4 text-end">       
                                    <button type="button" class="btn btn-primary toggle-movie-details" data-theater-id="@theater.Id" data-theater-name="@theater.Name">Movies</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Movie Ticket Details Container -->
                <div id="movieDetails1" style="display: none;">
                    <p>Movie: Wish</p>
                    <p>Showtime: 6:00 PM</p>
                    <p>Ticket Price: $12.99</p>
                    <!-- Add more movie details here -->
                </div>
                <!-- JavaScript for toggling movie details -->
                <script>
                    $(document).ready(function () {
                        $('.toggle-movie-details').on('click', function () {
                            var theaterId = $(this).data('theater-id');
                            $('#movieDetails' + theaterId).toggle();
                        });
                    });
                </script>
            </li> *@
            @foreach (var theater in Model.Take(20))
            {
                <li class="list-group-item">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Cineplex_Entertainment_logo_%282009-2015%29.svg" class="img-rounded" alt="CineplexLogo">
                            </div>
                            <div class="col-sm-8">
                                <h4>@theater.Name</h4>
                                <div class="address">
                                    <p>
                                        <span>@theater.Address</span><br>
                                        <span>@theater.Location</span>
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span>
                                            Rating
                                        </span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        @theater.ContactInformation
                                    </div>
                                    <div class="col-sm-4 text-end">
                                        <button type="button" class="btn btn-primary toggle-movie-details" data-theater-id="@theater.Id" data-theater-name="@theater.Name">Movies</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Movie Details Container -->
                    <!--dynamic id issue: id="movieDetails@theater.Id" -->
                    <div id="movieDetails_@theater.Id" style="display: none;" data-theater-id="@theater.Id">
                        <h3>@theater.Name</h3>
                        <p>@theater.Address, @theater.Location</p>
                        <!-- Add more theater information as needed -->
                        <!-- Load ticket information using AJAX -->
                        <div class="ticket-info-container"></div>
                    </div>
                </li>
            }
        </ul>


    </div>

    <!-- JavaScript for toggling movie details and fetching ticket information -->
    <script>
        $(document).ready(function () {
            $('.toggle-movie-details').on('click', function () {
                console.log('Movies button clicked!');
                var theaterId = $(this).data('theater-id');
                console.log('Theater ID:', theaterId);

                var movieDetailsId = '#movieDetails_' + theaterId.toString(); // Use '#' to indicate an ID selector
                console.log('Movie Details ID:', movieDetailsId);

                // Fetch ticket information using AJAX
                var theaterName = $(this).data('theater-name');
                console.log('Theater Name:', theaterName);

                $.ajax({
                    url: '@Url.Action("FilterPrices", "Price")' + '?TheaterName=' + encodeURIComponent(theaterName),
                    type: 'GET',
                    beforeSend: function () {
                        console.log('AJAX Request Sent');
                    },
                    success: function (result) {
                        console.log('AJAX Success:', result);

                        // Move variable declarations inside success callback
                        var movieDetails = $(movieDetailsId);
                        console.log('Movie Details Container Length:', movieDetails.length); // for debugging

                        // Fetch ticket information using AJAX
                        var ticketInfoContainer = movieDetails.find('.ticket-info-container');
                        console.log('Ticket Info Container:', ticketInfoContainer); // for debugging

                        // Clear existing content
                        ticketInfoContainer.empty();

                        if (result.length > 0) {
                            result.forEach(function (item) {
                                console.log('Movie Title:', item.movies.title);
                                console.log('Show Time:', item.showTime);
                                console.log('Ticket Price:', item.ticketPrice.toFixed(2));

                                // Create a movie container
                                var movieContainer = $('<div class="movie-container"></div>');

                                // Left side: Movie title and poster
                                var leftContent = $('<div class="left-content"></div>');
                                leftContent.append('<h3>' + item.movies.title + '</h3>');
                                leftContent.append('<img src="' + item.movies.posterImageUrl + '" alt="' + item.movies.title + '" style="width: 142px; height: 214px;">');
                                movieContainer.append(leftContent);

                                // Right side: Show time button and ticket price
                                var rightContent = $('<div class="right-content"></div>');
                                rightContent.append('<button type="button" class="btn btn-primary showtime-button">' +
                                    new Date(item.showTime).toLocaleString("en-US", { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' }) +
                                    '<br><span class="small-font">Price: $' + item.ticketPrice.toFixed(2) + '<br>Available Seats: ' + item.availableSeats + '</span></button>');
                                movieContainer.append(rightContent);

                                // Append the movie container to the ticket info container
                                ticketInfoContainer.append(movieContainer);
                            });
                        } else {
                            console.log('No results found.');
                        }

                        // Toggle the visibility after updating content
                        movieDetails.toggle(result.length > 0); // Show if there are results, hide otherwise
                        console.log('Movie Details Container:', movieDetails);
                    },
                    error:function (xhr, status, error) {
                        console.log('AJAX Error:', error);
                        alert('Error loading ticket information.');
                    },
                    complete: function () {
                        console.log('AJAX Request Completed');
                    }
                    });
            });
        });

    </script>

</body>
</html>