@model IEnumerable<CapstoneProject.Models.TheaterWithPricesViewModel>
@using System.Text.Json

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] = "Theatres";</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Datepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


    <style>
        /* Custom css for star rating */
        .checked {
            color: orange;
        }

        /* Adjusted poster style */
        .movie-poster {
            width: 165px;
            height: 220px;
        }
        /* Adjust the theater logo as needed */
        .cineplex-logo {
            width: 280px; 
            height: 150px;
        }

        .landmark-logo {
            width: 280px; 
            height: 150px;
        }

        .price-badge {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0px;
            right: 3px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #007bff;
        }
        /* .price-badge {
            position: absolute;
            top: 0px;
            right: 3px;
            width: 50px; /* Adjust the size of the badge as needed */
            height: 50px; /* Adjust the size of the badge as needed */
            border-radius: 50%;
            background-color: #007bff; /* Set the background color of the badge */ */
    </style>
</head>
<body>

    <!-- Header Section -->
    <section class="text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Theaters</h1>
                <p class="lead text-body-secondary">Find theaters and tickets you want.</p>
            </div>
        </div>
    </section>

    <!-- Search Bar and Filters Section -->
    <div class="container mt-3 text-center">
        <form asp-action="Index" asp-controller="Theater" method="get" class="row justify-content-center align-items-end">
            <!-- Date Filter for Theater -->
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="input-group">
                    <!-- Add a unique identifier for the date input -->
                    <input type="text" class="form-control datepicker" name="selectedDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Select date...">
                    <div class="input-group-append">
                        <!-- Add a unique identifier for the apply button -->
                        <button class="btn btn-primary apply-filter" type="submit">Date</button>
                    </div>
                </div>
            </div>

            <!-- Search input and button -->
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search for theaters...">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>

            <!-- City dropdown -->
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="cityDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        City
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="cityDropdownButton">
                        <li>
                            <button type="submit" class="dropdown-item" name="city" value="All Cities">All Cities</button>
                        </li>
                        <li>
                            <button type="submit" class="dropdown-item" name="city" value="Vancouver">Vancouver</button>
                        </li>
                        <li>
                            <button type="submit" class="dropdown-item" name="city" value="Burnaby">Burnaby</button>
                        </li>
                        <li>
                            <button type="submit" class="dropdown-item" name="city" value="Richmond">Richmond</button>
                        </li>
                        <li>
                            <button type="submit" class="dropdown-item" name="city" value="Surrey">Surrey</button>
                        </li>
                        <li>
                            <button type="submit" class="dropdown-item" name="city" value="New Westminster">New Westminster</button>
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </div>

    <!-- Theatres List Section -->
    <div class="container mt-3">
        <ul class="list-group">
            @foreach (var theaterWithPrices in Model.Take(20))
            {
                <li class="list-group-item">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-sm-4">
                                @if (theaterWithPrices.Theater.CinemaLine == "Cineplex")
                                {
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Cineplex_Entertainment_logo_%282009-2015%29.svg" class="img-rounded cineplex-logo" alt="CineplexLogo">
                                }
                                else if (theaterWithPrices.Theater.CinemaLine == "Landmark")
                                {
                                    <img src="https://upload.wikimedia.org/wikipedia/en/9/95/Landmark_Cinemas_logo.png" class="img-rounded landmark-logo" alt="LandmarkLogo">
                                }
                                else
                                {
                                    <!-- Default logo if cinema line is not recognized -->
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Cineplex_Entertainment_logo_%282009-2015%29.svg" class="img-rounded cineplex-logo" alt="DefaultLogo">
                                }
                            </div>
                            
                            <div class="col-sm-8">
                                <h4>@theaterWithPrices.Theater.Name</h4>
                                <div class="address">
                                    <p>
                                        <span>@theaterWithPrices.Theater.Address</span><br>
                                        <span>@theaterWithPrices.Theater.Location</span>
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span>Rating</span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        @theaterWithPrices.Theater.ContactInformation
                                    </div>
                                    <div class="col-sm-4 text-end">
                                        <button type="button" class="btn btn-primary toggle-movie-details" data-theater-id="@theaterWithPrices.Theater.Id" data-theater-name="@theaterWithPrices.Theater.Name">Movies</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Movie Details Container -->
                            <div id="movieDetails_@theaterWithPrices.Theater.Id" style="display: none;" data-theater-id="@theaterWithPrices.Theater.Id">
                                <h3>@theaterWithPrices.Theater.Name</h3>
                                <p>@theaterWithPrices.Theater.Address, @theaterWithPrices.Theater.Location</p>


                                <!-- Movie Prices -->
                                <div class="ticket-info-container border p-3 rounded">
                                    @foreach (var groupByMovie in theaterWithPrices.Prices.GroupBy(p => p.Movies.Title))
                                    {
                                        <div class="row mb-3 border-bottom">
                                            <div class="col-md-12">
                                                <h4>@groupByMovie.Key</h4>
                                            </div>
                                        </div>

                                        @foreach (var price in groupByMovie)
                                        {
                                            <div class="row mb-3">
                                                <!-- Left side: Movie title and poster -->
                                                <div class="col-md-6">
                                                    <div class="movie-container">
                                                        <div class="left-content">
                                                            <a href="@Url.Action("Index", "MovieDetails", new { movieId = price.Movies.MovieID })">
                                                                <img src="@price.Movies.PosterImageUrl" alt="@price.Movies.Title" class="movie-poster">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Right side: Price badges -->
                                                <div class="col-md-6">
                                                    <div class="col-md-6">
                                                        <label class="list-group-item rounded-3 py-2" style="background-color: #f0f0f0; padding: 10px;">
                                                            <div class="price-badge">
                                                                <p style="text-align: center; color: whitesmoke;">@price.TicketPrice</p>
                                                            </div>
                                                            <div class="h-100">
                                                                <p style="font-weight: bold;">@price.ShowTime.ToString("MM-dd")</p>
                                                                <button type="button" class="btn btn-primary showtime-button mt-2">@price.ShowTime.ToString("h:mm tt")</button>
                                                                <span class="d-block small opacity-50">Seats Available: @price.SeatsAvailable</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>



    <!-- JavaScript for toggling movie details and applying date filter -->
    <script>
        // Use jQuery.noConflict() to avoid conflicts
        jQuery.noConflict();

        // Wrap your jQuery code inside an anonymous function
        (function ($) {
            $(document).ready(function () {
                // Initialize datepicker
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true
                });

                // Toggle movie details
                $('.toggle-movie-details').on('click', function () {
                    var theaterId = $(this).data('theater-id');
                    var movieDetails = $('#movieDetails_' + theaterId);
                    movieDetails.toggle();
                });

                


            });
        })(jQuery);
    </script>

   

</body>
</html>
